* {
  box-sizing: border-box;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Didact Gothic', sans-serif;
}

/* 상단바 */
.header-bar {
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  border-radius: 0 0 20px 20px;
  align-items: center;
  padding-left: 30px;
}

.title {
  padding-top: 0.2rem;
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
}

/* 카드 영역 */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  /* 중앙 정렬 */
  max-width: 80vw;
  margin: 8vw auto;

  /* 좌우 여백 반응형 */
  /* padding: 20px; */
  padding: 0 clamp(16px, 5vw, 60px);
  /* flex: 1; */
}

/* 기본 1칸 카드 스타일 */
.card {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 8px 10px 12px rgba(0, 0, 0, 0.3);
  min-height: 230px;
  display: flex;
  flex-direction: column;
}

/* 2칸 카드 스타일 */
.card.wide-card {
  grid-column: span 2;
}

/* 카드 상단 */
.card-header {
  background: rgba(128, 128, 128, 0.5);
  padding: 10px;
  padding-left: 15px;
  padding-bottom: 7px;
  border-radius: 20px 20px 0 0;
  color: white;
  font-weight: bold;
}

/* 카드 본문 */
.card-body {
  flex: 1;
  padding: 15px;
  color: white;
}

.dday-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dday-list li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.input-group {
  display: grid;
  gap: 5px;
  margin-bottom: 10px;
}

.input-group input {
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-group button {
  padding: 5px 10px;
  border: none;
  background: #0078ff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.calendar-week {
  max-height: 250px;
  /* padding: 5px; */
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: white;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
  padding: 10px;
}

.calendar-day-header {
  font-weight: bold;
  color: #ddd;
}

.calendar-day {
  padding: 8px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}

.calendar-day.today {
  background: #0078ff;
  color: white;
  font-weight: bold;
}